
export(.phangornMCMCenv, cleanMCMCtrees, phangornMCMC, dcoal,
       dcoal.linear, dcoal.step, dcoal.time, dcoal.time2,
       EdgeLengthJittering, getLastTree, getMCMCstats, getMCMCtrees,
       NeighborhoodRearrangement, saveMCMCtrees,
       ddirichlet, rdirichlet, rdirichlet1)

importFrom(ape, as.phylo, branching.times, dist.dna, Ntip,
           reorder.phylo, write.nexus, write.tree, fastme.bal)
importFrom(coda, mcmc)
importFrom(phangorn, phyDat, pml, upgma, pml.fit, pml.free, pml.init, baseFreq,
           dist.ml, lli, edQt, fitch)
importFrom(stats, hclust, rbinom, reorder, runif, rgamma, nlminb)
importFrom(lattice, histogram)
importFrom(magrittr,"%>%", "%<>%")
importFrom(Matrix, Matrix, sparseMatrix, spMatrix, crossprod, solve)



